fastapi
uvicorn
python-multipart
python-dotenv
sqlalchemy
PyMuPDF
pillow
numpy<2
opencv-python<=4.10.0.84
pyspellchecker
paddleocr==2.9.1
paddlepaddle==2.6.2
torch
torchvision
transformers
symspellpy
scikit-image
scikit-learn
imgaug
beautifulsoup4
fire
setuptools
